<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .completed .todo-content {
      text-decoration:line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      <input type="checkbox" @click='toggleSelectAll' :checked="isAllSelected">
      <input type="text" @keyup.enter="addTodo" v-model.trim="todoText"> <!-- 语法糖 -->
    </div>
    <!-- 在模板里使用的话不用this   vue会帮你找解析 -->
     <ul> <!--临时变量在computed中访问不到 -->
      <li v-for="(todo,index) of showingTodos" :class="todoItemClasses(todo)">
        <input type="checkbox" v-model="todo.done">
        <span v-show="index != editingIndex" @dblclick="edit(index)" class="todo-content">{{ todo.content }}</span>
        <input ref="editTodo" v-show="index == editingIndex" type="text" v-model="todo.content" @blur="editingIndex = -1">
        <!-- ref功能 -->
        <!-- 临时变量todo不能榜，临时变量指向的content可以 -->
        <span @click="delTodo(index)">&times;</span>
      </li>
    </ul>
    <div>
      <span> 
        {{ leftTodosCount }} item {{ itemPlural }} left
      </span>
      <span>
        <label><input type="radio" v-model="showingCategory" value ="all"> all </label>
        <label><input type="radio" v-model="showingCategory" value ="active"> active </label> 
        <label><input type="radio" v-model="showingCategory" value ="completed"> completed </label>
      </span>
      <button @click="clearCompleted" v-if="showClearButton">Clear completed</button>
    </div>
  </div>
</body>


<script src="vue-2.6.10.js"></script>
<script>
  var app = new Vue({
    el:'#app',
    data:{ //原始数据
      editingIndex:-1,    //记录当前编辑的条目
      showingCategory:'all',
      todoText:'',
      todos:[{
        content:'eat',
        done:false,
      },{
        content:'sleep',
        done:false,
      },{
        content:'work',
        done:false,}],
    },

    computed: {  //由已存数据推导  computed 里的所有属性全部变成 getter
      isAllSelected:function(){
        if (this.showingTodos.length == 0) {
          return false
        }
        return this.todos.every(it => it.done)
      },
      showClearButton: function() {
        return this.todos.some(it => it.done)
      },
      leftTodosCount: function () {
        return this.todos.filter(it => !it.done).length
      },
      itemPlural: function () {
        return this.todos.filter(it => !it.done).length > 1 ? 's' : ''
      },
      showingTodos: function () {
        if (this.showingCategory === 'all') {
          return this.todos
        }
        if (this.showingCategory === 'active') {
          return this.todos.filter(it => it.done === false)
        }
        return this.todos.filter(it => it.done === true)
      },
    },

    methods:{ //处理事件
      edit(index) {
        this.editingIndex = index
        Vue.nextTick(() => {   //当前调用栈空了以后，下一轮事件循环editingIndex展现出来
          //为了在数据变化之后等待 Vue 完成更新 DOM ，可以在数据变化之后立即使用 Vue.nextTick(callback) 。这样回调函数在 DOM 更新完成后就会调用。
          this.$refs.editTodo[this.editingIndex].focus()
        })
      },
      todoItemClasses:function(todo) {
        return {
          completed:todo.done,
          active:!todo.done,
        }
      },
      toggleSelectAll:function() {
        if (this.isAllSelected) {
          app.todos.forEach(it => it.done = false)
        } else {
          app.todos.forEach(it => it.done = true)
        }
      },
      clearCompleted() {
        app.$data.todos = app.$data.todos.filter(it => !it.done)
      },
      delTodo:function(index) {
        app.$data.todos.splice(index,1)
      },
      addTodo:function(e) {
        if (app.$data.todoText) {
          app.$data.todos.push({
            content:app.$data.todoText,
            done:false,
          })
          app.$data.todoText = ''
        }
      }
    }
  })
</script>
</html>