*{
  background-color: rgba(0, 0, 0, 0.08);
}
html,body{
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/*---------------------------------- 头 */
.head{
  background-color: #333333;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  position: relative;
  z-index: 6;
}
.width1226{
  width: 1226px;
  margin: 0 auto;
}
.head-nav{
  float: left;
}
.width1226  a{
  color: #b0b0b0;
  line-height: 40px;
}
.width1226  a:hover{
  color: #ffffff;
}
.head-nav-span{
  color: #424242;
  margin: 0 4px;
  line-height: 40px
}
.shoppingcar{
  height: 40px;
  width: 120px;
  float: right;
  background-color: #424242;
  margin-left: 25px;
  position: relative;
}
.shoppingcar > a{
  display: inline-block;
  line-height: 40px; /* 行高可以继承 */
  width: 120px;
  color: #a3a3a3;
  box-sizing: border-box;
  padding-left: 42px;
  position: relative;
}
.shoppingcar i{
  display: inline-block;
  line-height: 20px;
  height: 20px; 
  width: 20px; /* 为什么高度宽度设置20他的位置在顶部，有问题 ，行高继承了*/
  position: absolute;
  left: 20px;
  top: 9px;
  /* border: 1px solid white; */
}
.shoppingcar-menu{
  width: 316px;
  height: 0px;
  background-color: #fdfdfd;
  position: absolute;
  right: 0;
  transition:all .3s linear ;
  overflow: hidden;
  box-shadow: 0;
}
.shoppingcar a:hover{
  color: #fc6821;
  background-color: #fdfdfd;
}
.shoppingcar a:hover + .shoppingcar-menu{
  height: 98px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.shoppingcar-menu:hover{
  height: 98px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.shoppingcar-menu > div {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
.head-nav-right{
  float: right;
}
/* ---------------------------------上 */
/* 小米图标搜索框 */
.search{
  height: 100px;
}
.search-in{
  height: 100px;
  width: 1226px;
  margin: 0 auto;
  position: relative;
}
.search-a55{
  height: 55px;
  width: 55px;
  background:no-repeat center/100% url("xiaomi.png");
  border: 1px solid;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin-top: auto;
  margin-bottom: auto;
  float: left;
}
.search-in ul{
  height: 100px;
  margin-left: 245px;
  display: inline-block;
}
.search-in li{
  display: inline-block;
}
.search-in li a{
  display: inline-block;
  line-height: 100px;
  color: #333333;
  font-size: 16px;
  padding-right: 16px;
}
.search-in li a:hover{
  color: #fc6821;
}
.search-search-out{
  float: right;
  top: 25px;
}
.search input{
  height: 50px;
  float: right;
  position: relative;
  top: 25px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-right: none;
}
.search-search{
  height: 50px;
  width: 50px;
  border: 1px solid #e0e0e0;
  float: right;
  position: relative;
  top: 25px;
  box-sizing: border-box;
}
.search-search-out:hover>.search-search{
  border-color: #b0b0b0;
}
.search-search-out:hover>input {
  border-color: #b0b0b0;
}






