html,body{
  margin: 0;
  font-family: sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
/*---------------------------------- 头 */
.head{
  background-color: #333333;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
  position: relative;
  z-index: 6;
}
.width1226{
  width: 1226px;
  margin: 0 auto;
}
.head-nav{
  float: left;
}
.width1226  a{
  color: #b0b0b0;
  line-height: 40px;
}
.width1226  a:hover{
  color: #ffffff;
}
.head-nav-span{
  color: #424242;
  margin: 0 4px;
  line-height: 40px
}
.shoppingcar{
  height: 40px;
  width: 120px;
  float: right;
  background-color: #424242;
  margin-left: 25px;
  position: relative;
}
.shoppingcar > a{
  display: inline-block;
  line-height: 40px; /* 行高可以继承 */
  width: 120px;
  color: #a3a3a3;
  box-sizing: border-box;
  padding-left: 42px;
  position: relative;
}
.shoppingcar i{
  display: inline-block;
  line-height: 20px;
  height: 20px; 
  width: 20px; /* 为什么高度宽度设置20他的位置在顶部，有问题 ，行高继承了*/
  position: absolute;
  left: 20px;
  top: 9px;
  /* border: 1px solid white; */
}
.shoppingcar-menu{
  width: 316px;
  height: 0px;
  background-color: #fdfdfd;
  position: absolute;
  right: 0;
  transition:all .3s linear ;
  overflow: hidden;
  Xtransition:box-shadow .3s linear;
  box-shadow: 0;
}
.shoppingcar a:hover{
  color: #fc6821;
  background-color: #fdfdfd;
}
.shoppingcar a:hover + .shoppingcar-menu{
  height: 98px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.shoppingcar-menu:hover{
  height: 98px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}
.shoppingcar-menu > div {
  position: absolute;
  width: 200px;
  height: 30px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

}
.head-nav-right{
  float: right;
}
/* ---------------------------------上 */
/* 小米图标 */
.shang-mi{
  
}





