<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style>
    .completed .todo-content {
      text-decoration:line-through;
    }
  </style>
</head>
<body>
  <div id="app">
    <div>
      <input type="checkbox" @click='toggleSelectAll' :checked="isAllSelected">
      <input type="text" @keyup.enter="addTodo" v-model.trim="todoText"> <!-- 语法糖 -->
    </div>
    <ul>
      <li v-for="(todo,index) of showingTodos" :class="{active:!todo.done,completed:todo.done}">
        <input type="checkbox" v-model="todo.done">
        <span class="todo-content" v-on:dblclick = "">{{ todo.content }}</span>
        <input type="text" v-model="todo.content">
        <span @click="delTodo(index)">&times;</span>
      </li>
    </ul>
    <div>
      <span> 
        {{ leftTodosCount }} item {{ itemPlural }} left
      </span>
      <span>
        <label><input type="radio" v-model="showingCategory" value ="all"> all </label>
        <label><input type="radio" v-model="showingCategory" value ="active"> active </label> 
        <label><input type="radio" v-model="showingCategory" value ="completed"> completed </label>
      </span>
      <button @click="clearCompleted" v-if="showClearButton">Clear completed</button>
    </div>
  </div>
</body>


<script src="vue-2.6.10.js"></script>
<script>
  var app = new Vue({
    el:'#app',
    data:{ //原始数据
      showingCategory:'all',
      todoText:'',
      todos:[{
        content:'eat',
        done:false,
      },{
        content:'sleep',
        done:false,
      },{
        content:'work',
        done:false,}],
    },
    computed: {  //由已存数据推导  getter
      isAllSelected:function(){
        return todos.every(it => it.done)
      },
      showClearButton: function() {
        return this.todos.some(it => it.done)
      },
      leftTodosCount: function () {
        return this.todos.filter(it => !it.done).length
      },
      itemPlural: function () {
        return this.todos.filter(it => !it.done).length > 1 ? 's' : ''
      },
      showingTodos: function () {
        if (this.showingCategory === 'all') {
          return this.todos
        }
        if (this.showingCategory === 'active') {
          return this.todos.filter(it => it.done === false)
        }
        return this.todos.filter(it => it.done === true)
      },
    },
    methods:{ //处理事件
      toggleSelectAll:function() {
        if (this.isAllSelected) {
          app.todos.forEach(it => it.done = false)
        } else {
          app.todos.forEach(it => it.done = true)
        }
      },
      clearCompleted() {
        app.$data.todos = app.$data.todos.filter(it => !it.done)
      },
      delTodo:function(index) {
        app.$data.todos.splice(index,1)
      },
      addTodo:function(e) {
        if (app.$data.todoText) {
          app.$data.todos.push({
            content:app.$data.todoText,
            done:false,
          })
          app.$data.todoText = ''
        }
      }
    }
  })
</script>
</html>